<?xml version="1.0"?>
<!--
  ~ Copyright © MageSpecialist - Skeeller srl. All rights reserved.
  ~ See COPYING.txt for license details.
  -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="MSP\CmsImportExport\Api\ContentInterface" type="MSP\CmsImportExport\Model\Content" />

    <type name="Magento\Framework\Console\CommandList">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="import_page" xsi:type="object">MSP\CmsImportExport\Command\ImportPage</item>
            </argument>
        </arguments>
    </type>
</config>